## Make New Columns

In [2]:
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame()

## Assign

In [9]:
df.assign?

In [8]:
df = pd.DataFrame({'A': range(1, 11), 'B': np.random.randn(10)})
df

    A         B
0   1  0.495588
1   2  0.268497
2   3 -0.583749
3   4  0.669867
4   5 -0.396330
5   6 -0.356202
6   7 -1.314062
7   8  2.196934
8   9 -1.432478
9  10  1.127471

In [10]:
df.assign(ln_A = lambda x: np.log(x.A))

    A         B      ln_A
0   1  0.495588  0.000000
1   2  0.268497  0.693147
2   3 -0.583749  1.098612
3   4  0.669867  1.386294
4   5 -0.396330  1.609438
5   6 -0.356202  1.791759
6   7 -1.314062  1.945910
7   8  2.196934  2.079442
8   9 -1.432478  2.197225
9  10  1.127471  2.302585

In [15]:
df.assign(AxB = lambda x: x.A * x.B)

    A         B        AxB
0   1  0.495588   0.495588
1   2  0.268497   0.536993
2   3 -0.583749  -1.751247
3   4  0.669867   2.679468
4   5 -0.396330  -1.981649
5   6 -0.356202  -2.137210
6   7 -1.314062  -9.198436
7   8  2.196934  17.575476
8   9 -1.432478 -12.892305
9  10  1.127471  11.274706

In [17]:
df['AxB'] = df['A'] * df['B']
df

    A         B        AxB
0   1  0.495588   0.495588
1   2  0.268497   0.536993
2   3 -0.583749  -1.751247
3   4  0.669867   2.679468
4   5 -0.396330  -1.981649
5   6 -0.356202  -2.137210
6   7 -1.314062  -9.198436
7   8  2.196934  17.575476
8   9 -1.432478 -12.892305
9  10  1.127471  11.274706

## QCut

In [19]:
pd.qcut?

In [21]:
pd.qcut(range(5), 4)    # 4개의 구간(bucket)으로 나눈다

[(-0.001, 1.0], (-0.001, 1.0], (1.0, 2.0], (2.0, 3.0], (3.0, 4.0]]
Categories (4, interval[float64]): [(-0.001, 1.0] < (1.0, 2.0] < (2.0, 3.0] < (3.0, 4.0]]

In [23]:
pd.qcut(range(5), 3, labels=["good", "medium", "bad"])    # 3개의 bucket으로 만든다 (label을 지정)

[good, good, medium, bad, bad]
Categories (3, object): [good < medium < bad]

In [25]:
pd.qcut(df.A, 3, labels=['good', 'medium', 'bad'])

0      good
1      good
2      good
3      good
4    medium
5    medium
6    medium
7       bad
8       bad
9       bad
Name: A, dtype: category
Categories (3, object): [good < medium < bad]

In [27]:
pd.qcut(df['AxB'], 3, labels=['good', 'medium', 'bad'])

0    medium
1    medium
2    medium
3       bad
4      good
5      good
6      good
7       bad
8      good
9       bad
Name: AxB, dtype: category
Categories (3, object): [good < medium < bad]

## Max, Clip, Abs

In [29]:
df.max(axis=1)

0     1.000000
1     2.000000
2     3.000000
3     4.000000
4     5.000000
5     6.000000
6     7.000000
7    17.575476
8     9.000000
9    11.274706
dtype: float64

In [30]:
df.max(axis=0)

A      10.000000
B       2.196934
AxB    17.575476
dtype: float64

In [32]:
df['B'].clip(lower=-1, upper=1)

0    0.495588
1    0.268497
2   -0.583749
3    0.669867
4   -0.396330
5   -0.356202
6   -1.000000
7    1.000000
8   -1.000000
9    1.000000
Name: B, dtype: float64

In [33]:
df['B'].abs()

0    0.495588
1    0.268497
2    0.583749
3    0.669867
4    0.396330
5    0.356202
6    1.314062
7    2.196934
8    1.432478
9    1.127471
Name: B, dtype: float64

In [37]:
df.loc[:,:].abs()

      A         B        AxB
0   1.0  0.495588   0.495588
1   2.0  0.268497   0.536993
2   3.0  0.583749   1.751247
3   4.0  0.669867   2.679468
4   5.0  0.396330   1.981649
5   6.0  0.356202   2.137210
6   7.0  1.314062   9.198436
7   8.0  2.196934  17.575476
8   9.0  1.432478  12.892305
9  10.0  1.127471  11.274706