### Concat

In [1]:
import pandas as pd

In [2]:
pd.concat?

In [3]:
s1 = pd.Series(['a', 'b'])
s2 = pd.Series(['c', 'd'])

s1

0    a
1    b
dtype: object

In [4]:
pd.concat([s1, s2])

0    a
1    b
0    c
1    d
dtype: object

In [5]:
pd.concat([s1, s2], ignore_index=True)

0    a
1    b
2    c
3    d
dtype: object

In [6]:
pd.concat([s1, s2], keys=['s1', 's2'], names=['Series name', 'Row ID'])

Series name  Row ID
s1           0         a
             1         b
s2           0         c
             1         d
dtype: object

In [7]:
df1 = pd.DataFrame([['a', 1], ['b', 2]], columns=['letter', 'number'])
df1

  letter  number
0      a       1
1      b       2

In [8]:
df2 = pd.DataFrame([['c', 3], ['d', 4]], columns=['letter', 'number'])
df2

  letter  number
0      c       3
1      d       4

In [9]:
pd.concat([df1, df2])

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

In [10]:
df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']], columns=['letter', 'number', 'animal'])
df3

  letter  number animal
0      c       3    cat
1      d       4    dog

In [11]:
pd.concat([df1, df3], sort=False)

  letter  number animal
0      a       1    NaN
1      b       2    NaN
0      c       3    cat
1      d       4    dog

In [12]:
pd.concat([df1, df3], sort=False, join='inner')

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

In [13]:
pd.concat([df1, df3], sort=False, join='outer')

  letter  number animal
0      a       1    NaN
1      b       2    NaN
0      c       3    cat
1      d       4    dog

In [14]:
df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']], columns=['animal', 'name'])
df4

   animal    name
0    bird   polly
1  monkey  george

In [15]:
pd.concat([df1, df4], sort=False)

  letter  number  animal    name
0      a     1.0     NaN     NaN
1      b     2.0     NaN     NaN
0    NaN     NaN    bird   polly
1    NaN     NaN  monkey  george

In [16]:
pd.concat([df1, df4], sort=False, axis=1)

  letter  number  animal    name
0      a       1    bird   polly
1      b       2  monkey  george

In [17]:
df5 = pd.DataFrame([1], index=['a'])
df5

   0
a  1

In [18]:
df6 = pd.DataFrame([2], index=['a'])
df6

   0
a  2

In [19]:
pd.concat([df5, df6], verify_integrity=True)

ValueError: Indexes have overlapping values: Index(['a'], dtype='object')