## Merge

In [3]:
import pandas as pd

adf = pd.DataFrame({'x1': ['A', 'B', 'C'],'x2': [1 , 2, 3] })
adf

  x1  x2
0  A   1
1  B   2
2  C   3

In [4]:
bdf = pd.DataFrame({'x1': ['A', 'B', 'D'],'x2': ['T', 'F', 'T'] })
bdf

  x1 x2
0  A  T
1  B  F
2  D  T

In [12]:
pd.merge(adf, bdf, how='left', on='x1')    # sql의 join과 유사한것 같다

  x1  x2_x x2_y
0  A     1    T
1  B     2    F
2  C     3  NaN

In [13]:
pd.merge(adf, bdf, how='right', on='x1')

  x1  x2_x x2_y
0  A   1.0    T
1  B   2.0    F
2  D   NaN    T

In [14]:
pd.merge(adf, bdf, how='inner', on='x1')

  x1  x2_x x2_y
0  A     1    T
1  B     2    F

In [15]:
pd.merge(adf, bdf, how='outer', on='x1')

  x1  x2_x x2_y
0  A   1.0    T
1  B   2.0    F
2  C   3.0  NaN
3  D   NaN    T

In [18]:
bdf.x1    # bdf['x1'] 동일함

0    A
1    B
2    D
Name: x1, dtype: object

In [20]:
adf.x1.isin(bdf.x1)

0     True
1     True
2    False
Name: x1, dtype: bool

In [19]:
adf[adf.x1.isin(bdf.x1)]

  x1  x2
0  A   1
1  B   2

In [22]:
adf[~adf.x1.isin(bdf.x1)]    # 반대의 경우로 가져옴 (제외)

  x1  x2
2  C   3

--------------

In [25]:
ydf = pd.DataFrame({
    "x1" : [ "A", "B", "C" ],
    "x2" : [ 1, 2, 3 ]
})

ydf

  x1  x2
0  A   1
1  B   2
2  C   3

In [27]:
zdf = pd.DataFrame({
    "x1" : [ "B", "C", "D" ],
    "x2" : [ 2, 3, 4 ]
})

zdf

  x1  x2
0  B   2
1  C   3
2  D   4

In [29]:
pd.merge(ydf, zdf)    # 기본 merge는 inner 다.

  x1  x2
0  B   2
1  C   3

In [35]:
pd.merge(ydf, zdf, how='outer')

  x1  x2
0  A   1
1  B   2
2  C   3
3  D   4

In [36]:
pd.merge(ydf, zdf, how='outer', indicator=True)

  x1  x2      _merge
0  A   1   left_only
1  B   2        both
2  C   3        both
3  D   4  right_only

In [37]:
pd.merge(ydf, zdf, how='outer', indicator=True).query('_merge == "left_only"')

  x1  x2     _merge
0  A   1  left_only

In [38]:
pd.merge(ydf, zdf, how='outer', indicator=True).query('_merge == "left_only"').drop(columns=['_merge'])

  x1  x2
0  A   1